<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellowmoss.lakesbellschedule"
    android:versionCode="8"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yellowmoss.lakesbellschedule.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.RegularBells"
            android:label="@string/title_activity_regular_bells"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.LateStartBells"
            android:label="@string/title_activity_late_start_bells"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.Help"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.BugReport"
            android:label="@string/title_activity_bug_report"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.ChangeLog"
            android:label="@string/title_activity_change_log"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.FutureContent"
            android:label="@string/title_activity_future_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.SupportedDevices"
            android:label="@string/title_activity_supported_devices"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.TellDeveloper"
            android:label="@string/title_activity_tell_developer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.ContactDeveloper"
            android:label="@string/title_activity_contact_developer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.DeveloperInfo"
            android:label="@string/title_activity_developer_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.DearMain"
            android:label="@string/title_activity_dear_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.TabletMainMenu"
            android:label="@string/title_activity_tablet_main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yellowmoss.lakesbellschedule.FinalsBells"
            android:label="@string/title_activity_finals_bells" >
        </activity>
    </application>

</manifest>